.bio {
  padding: 200px 0 0;
}

.bio-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0px 0px 10px $blackOp02, 0px 0px 0px $blackOp02, 0px 0px 0px $blackOp02, 2px 2px 5px $blackOp02, 0px 0px 0px $blackOp02, 0px 0px 0px $blackOp02;
  border-radius: 8px;
  padding: 20px 0 20px 20px;


  @include laptop {
    // align-items: flex-start;
    justify-content: space-between;
  }
}

.bio-flex__left {
  width: 50%;
  padding-right: 25px;

  @include laptop {
    width: 60%;
  }
}

.bio__title {
  margin-bottom: 40px;
  text-align: center;
}

.bio__text {
  margin-bottom: 15px;
  font-size: 22px;

  @include laptop {
    font-size: 18px;
  }
}

.bio-flex__right {
  width: 50%;
  display: flex;
  padding-left: 82px;
  flex-direction: column;
  gap: 15px;

  @include laptop {
    width: 40%;
    padding-left: 15px;
  }
}

.bio__img { 
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.bio__linkedIn {
  font-size: 21px;
  color: $orange;
  padding-left: 10px;

  @include laptop-sm {
    font-size: 18px;
  }

  &:hover {
    color: $arctic;
  }
}

.bio__address {
  font-size: 21px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 10px;

  @include laptop-sm {
    font-size: 18px;
  }
}

.bio__address-number-link,
.email--accent {
  color: $orange;

  &:hover {
    color: $arctic;
  }
}

.bio__address-email{
  color: black;
}