.bio {
  padding: 200px 0 0;

  @include mobile {
    padding: 120px 0 0;
  }
}

.bio-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0px 0px 10px $blackOp02, 0px 0px 0px $blackOp02, 0px 0px 0px $blackOp02, 2px 2px 5px $blackOp02, 0px 0px 0px $blackOp02, 0px 0px 0px $blackOp02;
  border-radius: 8px;
  padding: 30px 20px;


  @include laptop {
    justify-content: space-between;

    @include laptop-sm {
      align-items: flex-start;
    }
  }

  @include tablet {
    flex-direction: column-reverse;
    padding: 20px 10px;
    gap: 30px;
  }
}

.bio-flex__left {
  width: 50%;
  padding-right: 25px;

  @include laptop {
    width: 60%;
    padding-right: 15px;
  }

  @include laptop-sm {
    width: 50%;
  }

  @include tablet {
    width: 100%;
    padding-right: 0px;
  }
}

.bio__title {
  margin-bottom: 40px;
  text-align: center;
}

.bio__text {
  margin-bottom: 15px;
  font-size: 22px;
  line-height: 1.05;

  @include laptop {
    font-size: 19px;
  }
}

.bio-flex__right {
  width: 50%;
  display: flex;
  padding-left: 25px;
  flex-direction: column;
  gap: 15px;

  @include laptop {
    width: 40%;
    padding-left: 15px;
  }

  @include laptop-sm {
    width: 50%;
  }

  @include exceptTablet {
    border-left: 4px solid $orange;
  }

  @include tablet{
    width: 100%;
    padding-left: 0px
  }
}

.bio__img { 
  width: 100%;
  border-radius: 30%;
  object-fit: cover;

  @include exceptTablet {
    margin-bottom: 10px;
  }
}

.bio__linkedIn {
  display: block;
  font-size: 22px;
  color: $orange;
  margin: 0 auto;

  @include laptop-sm {
    font-size: 18px;
  }

  &:hover {
    color: $arctic;
  }
}

.bio__linkedIn:hover {
  transform: scale(1.02);
}