button {
  cursor: pointer;
  font-size: 24px;
  border-radius: 8px;
  display: flex;
  transition: background 0.5s ease-in;

  @include laptop{
    font-size: 22px;
  }
}

.orange-btn {
  background-color: $orange;
  color: $white;
  padding: 10px 25px;

  &:hover {
    transform: scale(0.99);
    background: linear-gradient(120deg, #2196f3, transparent) $arctic;
  }
}