.contact {
  padding:100px 0;
  // background-color: $bright-gray;

  @include mobile {
    padding: 50px 0;
  }
}

.contact__title {
  margin-bottom: 40px;

  @include mobile {
    text-align: center;
  }
}

.contact-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 150px;

  @include laptop-sm {
    gap: 100px;
  }

  @include tablet {
    gap: 70px;
  }

  @include mobile {
    flex-direction: column;
    gap: 40px;
  }
}

.contact__text {
  flex: 1 1 50%;
  font-size: 32px;
  line-height: 1.1;

  @include laptop-sm {
    font-size: 28px;
  }

  @include tablet {
    font-size: 24px;
  }

  @include mobile {
    font-size: 20px;
  }
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 1 1 50%;

  @include mobile {
    align-items: center;
    width: 100%;
        gap: 20px;
  }
}

.contact__row {
  display: flex;
  justify-content: space-between;
  gap: 50px;

  @include tablet {
    gap: 30px;
  }

  @include mobile {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
  }
}

.contact__input {
  width: 100%;
  padding: 15px 20px 18px;
  font-size: 24px;
  line-height: 25px;
  outline: none;
  border: none;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-image: linear-gradient(to right, #05a8d1, #5390e5, #b066c9, #e12a79, #d02f06) 1;
  max-width: 600px;

  &::placeholder {
    color: $blackOp06;
    letter-spacing: 1.5px;
  }

  @include tablet {
    font-size: 20px;
    line-height: 20px;
    padding: 18px 11px;
  }

  @include mobile {
    width: 80%;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 10px;
  }
}

.contact__message {
  background-color: $white;
  color: $black;
  font-size: 24px;
  line-height: 25px;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, #05a8d1, #5390e5, #b066c9, #e12a79, #d02f06) 1;
  outline: none;
  padding: 18px 20px;
  min-height: 180px;
  margin-top: 20px;

  &::placeholder {
    color: $blackOp06;
  }

  @include tablet {
    font-size: 20px;
    line-height: 20px;
    padding: 18px 11px;
  }

  @include mobile {
    font-size: 16px;
    line-height: 16px;
    min-height: 160px;
    padding: 16px 10px;
    width: 80%;
  }
}

.contact__btn {
  display: block;
  width: fit-content;
  padding: 15px 25px;
}