.services {
  background-color: $bright-gray;
  padding: 100px 0;

  @include mobile {
    padding: 50px 0;
  }
}

.services__title {
  text-align: center;
  margin-bottom: 100px;

  @include laptop {
    margin-bottom: 80px;
  }
}

.services__box-wrap {
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;

  @include tablet {
    flex-direction: column;
  }
}

.services__box {
  background-color: white;
  border-radius: 8px;
  padding: 20px 30px;
  box-shadow: 0px 0px 10px $blackOp02, 0px 0px 0px $blackOp02, 0px 0px 0px $blackOp02, 2px 2px 5px $blackOp02, 0px 0px 0px $blackOp02, 0px 0px 0px $blackOp02;
  flex: 1 1 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.services__box-title {
  margin-bottom: 25px;

  @include laptop-sm {
    font-size: 24px;
  }
}

.services__box::after {
  content: "";
  background-color: $orange;
  height: 100%;
  width: 10px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-radius: 8px;
}

.services__box-text {
  font-size: 22px;
  line-height: 110%;
  margin-bottom: 10px;

  @include laptop {
    font-size: 20px;
  }

  @include laptop-sm{
    font-size: 18px;
  }
}

.services__box-img {
  width: 100%;

  @include tablet {
    object-fit: contain;
    width: 50%;
  }
}

.services__btn {
  font-size: 20px;
  margin-top: auto;
  display: block;
  align-self: flex-start;

  @include laptop {
    font-size: 16px;
    padding: 10px 15px;
  }

  @include tablet {
        margin-top: 0;
        display: block;
        align-self: normal;
        width: fit-content;
  }
}

.services__btn--laptop {
  @include tablet {
    display: none;
  }
}

.services__btn--tablet {
  display: none; 

  @include tablet {
    display: block;
  }
}

.services__link {
  color: $white;
}

.flexing{
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include tablet {
    display: flex;
    flex-direction: row;
  }
}

.flex-left {
  margin-bottom: 15px;

  @include tablet {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  
}