.service-details {
  padding: 100px 0px;
}

.service-detils__left {
  color: $white;
  background-color: $black;
  padding: 30px 50px;
  border-radius: 8px;
}

.service-details__title {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
  // color: $arctic;
  // background-image: linear-gradient(to right, rgb(5, 168, 209), rgb(208, 47, 6), rgb(5, 168, 209));
}

.service-details__subtitle {
  font-size: 25px;
  margin-bottom: 15px;
}

.service-details__text {
  font-size: 24px;
}

.list-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(MIN(300px, 100%), 1fr));
  gap: 20px;
  flex: 1 1 0;
}

.list-box {
  background-color: rgba(208, 47, 6, 1);
  padding: 15px;
  border-radius: 7px;
  color: white;
}

.list-box__title {
  margin-bottom: 10px;
}

.list-box__item {
  margin: 10px;
}

.sublist-item {
  margin: 10px;
}