.team {
  padding: 100px 0;
}

.about-us__title {
  padding: 8px 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 60px;
  position: relative;
  background-color: $black;
  color: $white;
}

.about-us__title-accent {
  color: $orange;
  display: inline-block;
}

.about-us__title-icon {
  margin-left: 30px;
}

.about-us__txt-container {
  padding: 0 80px;
  margin-bottom: 75px;

  @include laptop-sm {
    padding: 0 20px;
  }
}

.about-us__text {
  font-size: 25px;
  margin-bottom: 20px;
  line-height: 1.1;
}

.about-us__list {
  padding: 0 40px;
  margin-bottom: 40px;
}

.about-us__list-item {
  font-size: 21px;
  margin-bottom: 15px;
  line-height: 1.1;
}

.about-us__list-item-accent {
  font-size: 22px;
  font-weight: 500;
}

.about-us__associates {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 130px;
  margin-bottom: 50px;
}

.about-us__associates-card {
  flex: 1;
  border-radius: 10px;
  max-width: 600px;
  box-shadow: 0px 0px 10px $blackOp02, 0px 0px 0px $blackOp02, 0px 0px 0px $blackOp02, 2px 2px 5px $blackOp02, 0px 0px 0px $blackOp02, 0px 0px 0px $blackOp02;
  padding-bottom: 20px;
}

.about-us__associates-img {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 15px;
}

.about-us__associate-details {
  padding-left: 15px;
  display: block;
}

.about-us__associate-name {
  font-size: 22px;
  font-weight: 600;
  display: block;
  margin-bottom: 15px;
}

.about-us__asscoiate-ln {
  font-size: 21px;
}

.linkedin-icon {
  margin-left: 15px;
  font-size: 21px;
}