body {
  font-family:'Goldman', 'Courier New', Courier, monospace;
}

a,button {
  font-family:'Goldman', 'Courier New', Courier, monospace;
}

h1 {
  font-size: 70px;

  @include laptop {
    font-size: 55px;
  }

  @include tablet {
    font-size: 40px;
  }
}

h2 {
  font-size: 50px;

  @include laptop {
    font-size: 44px;
  }

  @include tablet {
    font-size: 34px;
  }
}

h3 {
  font-size: 36px;

  @include laptop {
    font-size: 28px;
  }
}

h4 {
  font-size: 28px;
}