body {
  font-family:'Inter', 'Helvetica', Courier;
}

a,button {
  font-family:'Inter', 'Courier New', Courier, monospace;
}

h1 {
  font-size: 70px;
  font-weight: 700;

  @include laptop {
    font-size: 55px;
  }

  @include tablet {
    font-size: 40px;
  }

  @include mobile {
    font-size: 31px;
  }
}

h2 {
  font-size: 50px;
  font-weight: 600;

  @include laptop {
    font-size: 44px;
  }

  @include tablet {
    font-size: 34px;
  }

  @include mobile {
    font-size: 30px;
  }
}

h3 {
  font-size: 36px;
  font-weight: 500;

  @include laptop {
    font-size: 28px;
  }
}

h4 {
  font-size: 28px;
  font-weight: 500;
}