$black: #000;
$black10: rgb(10, 10, 10);
$black29: rgb(29, 29, 29);
$blackOp02: rgba(0, 0, 0, 0.2);
$blackOp06: rgba(0, 0, 0, 0.6);
$white: #fff;
$bright-gray: rgb(233, 233, 233);
$orange: rgb(208, 47, 6);
$arctic: rgb(5, 168, 209);
$arcticOp10: rgba(74, 250, 235, 0.014)
